# Graphing, visualizing ?

In [19]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:85% !important; }</style>"))

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import geopandas

In [21]:
pd.set_option('display.height', 1000) # make printing better for the entire set of columns
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [22]:
data = pd.DataFrame.from_csv('arabica_to_classify.csv') # check our csv
data.head()
#data.drop("Unnamed: 0", axis=1)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

  country_of_origin  aroma  flavor  aftertaste  acidity  body  balance  uniformity  clean_cup  sweetness  cupper_points  total_cup_points  moisture  category_one_defects  category_two_defects  altitude_low_meters  altitude_high_meters  altitude_mean_meters  processing_method_Other  processing_method_Pulped natural / honey  processing_method_Semi-washed / Semi-pulped  processing_method_Washed / Wet  region
0          Ethiopia   8.67    8.83        8.67     8.75  8.50     8.42        10.0       10.0       10.0           8.75             90.58      0.12                     0                     0               1950.0                2200.0                2075.0                        0                                         0                                            0                               1  africa
1          Ethiopia   8.75    8.67        8.50     8.58  8.42     8.42        10.0       10.0       10.0           8.58             89.92      0.12                     0                     1               1950.0                2200.0                2075.0                        0                                         0                                            0                               1  africa
3          Ethiopia   8.17    8.58        8.42     8.42  8.50     8.25        10.0       10.0       10.0           8.67             89.00      0.11                     0                     2               1800.0                2200.0                2000.0                        0                                         0                                            0                               0  africa
4          Ethiopia   8.25    8.50        8.25     8.50  8.42     8.33        10.0       10.0       10.0           8.58             88.83      0.12                     0                     2               1950.0                2200.0                2075.0                        0                                         0                                            0                               1  africa
9          Ethiopia   8.08    8.58        8.50     8.50  7.67     8.42        10.0       10.0       10.0           8.50             88.25      0.10                     0                     4               1795.0                1850.0                1822.5                        0                                         0                                            0                               0  africa

plot: country vs avg scores "total_cup_points"
    countries in interactive map (geopandas?)

In [23]:
data.country_of_origin.unique()

array(['Ethiopia', 'United States', 'China', 'Costa Rica', 'Mexico',
       'Brazil', 'Uganda', 'Taiwan', 'Kenya', 'Thailand', 'Colombia',
       'Panama', 'Guatemala', 'Papua New Guinea', 'El Salvador',
       'Indonesia', 'Tanzania, United Republic Of', 'Honduras', 'Japan',
       'Nicaragua', 'Ecuador', 'United States (Puerto Rico)', 'Haiti',
       'Burundi', 'Vietnam', 'Philippines', 'Rwanda', 'Malawi', 'Laos',
       'Zambia', 'Myanmar', 'Cote d?Ivoire', 'Peru'], dtype=object)

In [18]:
data.head()

  country_of_origin  aroma  flavor  aftertaste  acidity  body  balance  uniformity  clean_cup  sweetness  cupper_points  total_cup_points  moisture  category_one_defects  category_two_defects  altitude_low_meters  altitude_high_meters  altitude_mean_meters  processing_method_Other  processing_method_Pulped natural / honey  processing_method_Semi-washed / Semi-pulped  processing_method_Washed / Wet  region
0          Ethiopia   8.67    8.83        8.67     8.75  8.50     8.42        10.0       10.0       10.0           8.75             90.58      0.12                     0                     0               1950.0                2200.0                2075.0                        0                                         0                                            0                               1  africa
1          Ethiopia   8.75    8.67        8.50     8.58  8.42     8.42        10.0       10.0       10.0           8.58             89.92      0.12                     0                     1               1950.0                2200.0                2075.0                        0                                         0                                            0                               1  africa
3          Ethiopia   8.17    8.58        8.42     8.42  8.50     8.25        10.0       10.0       10.0           8.67             89.00      0.11                     0                     2               1800.0                2200.0                2000.0                        0                                         0                                            0                               0  africa
4          Ethiopia   8.25    8.50        8.25     8.50  8.42     8.33        10.0       10.0       10.0           8.58             88.83      0.12                     0                     2               1950.0                2200.0                2075.0                        0                                         0                                            0                               1  africa
9          Ethiopia   8.08    8.58        8.50     8.50  7.67     8.42        10.0       10.0       10.0           8.50             88.25      0.10                     0                     4               1795.0                1850.0                1822.5                        0                                         0                                            0                               0  africa